@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    background-color: #d6dbf5;
}
nav{
    height: 100vh;
    overflow-y: scroll;
    position: relative;
    width: 350px;
    padding-left: 18px;
    background-color: white;
}
nav::-webkit-scrollbar{
    display: none;
}
#line{
    height: 2.5px;
    width: calc(100%/1.3);
    background-color: rgba(8, 0, 255, 0.425);
    position: absolute;
    border-radius: 2px;
    left: 10px;
    opacity: 0%;
}
.underShow{
    display: none;
}
.Navclose .underShow{
    display: block;
    font-size: 0.7rem;
    text-transform: capitalize;
    font-family: "Poppins", sans-serif;
}
.Navclose #line{
    opacity: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}
.Navclose .hadding h3{
    display: none;
}
.hadding{
    padding: 7px;
    display: flex;
    align-items: center;
    width: 20px;
}
.hadding h3{
    font-size: 1.4rem;
    font-family: "Poppins", sans-serif;
}
nav ul{
    list-style: none;
    padding-left: 0px;
}
nav ul li{
    padding: 12px;
    width: 312px;
    padding-left: 15px;
}
nav ul li a{
    color: inherit;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 1.1rem;
}
nav li a i{
    color: #0033ff;
    font-size: 1.6rem;
    margin-right: 18px;
}
.profile{
    background: #000;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    position: relative;
    left: -2px;
    top: -3px;
    background-repeat: no-repeat;
    background-position: 30% 10%;
}
.table p{
    font-size: 0.8rem;
    color: blue;
    cursor: pointer;
}
.table h4{
    font-size: 1.4rem;
    text-transform: capitalize;
}
/* namebox are class of td */
.nameBox{
    width: 250px;
    padding-left: 18px;
    display: flex;
    height: 70px;
    margin-top: 16px;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
}
.table table{
    border-color: transparent;
    height: 6rem;
    width: 300px;
}
.table{
    width: 300px;
    margin-top: 5px;
    border-top: 2.5px solid rgb(189, 198, 255);
}
.logo img{
    height: 40px;
    aspect-ratio: 1/1;
    border-radius: 10px;
    margin-top: 15px;
    position: relative;
    left: 3px;
}
.logo{
    display: flex;
    align-items: center;
    height: 45px;
    width: 45px;
    justify-content: center;
}
.Navclose #navTaxt{
    display: none;
}
.Navclose #AddPruductCount{
    height: 16px;
    width: 16px;
    background-color: #ffc107;
    color: white;
    position: relative;
    left: -30px;
    top: -12px;
    text-align: center;
    border-radius: 50%;
    font-weight: 700;
    font-size: 11px;
    display: inline-block;
    animation: pop 0.5s infinite alternate ease-in-out;
}
#AddPruductCount{
    height: 16px;
    width: 16px;
    background-color: #ffc107;
    color: white;
    position: relative;
    font-weight: 700;
    left: 10px;
    text-align: center;
    border-radius: 50%;
    font-size: 11px;
    display: inline-block;
    animation: pop 0.5s infinite alternate ease-in-out;
}
@keyframes pop {
    0%{
        height: 10px !important;
        width: 10px !important;
    }
    50%{height: 16px !important;width: 16px !important;}
}
.brand{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;
    margin-bottom: 20px;
    
}
.brandName{
    position: relative;
    top: 9px;
    left: 20px;
    font-size: 1.3rem;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
}
.links{
    transition: 0.1s;
    cursor: pointer;
}
.links:hover{
    background: #0033ffab;
    color: white !important;
}

/* body flex becuse side nav bar */
body{
    display: flex;
}
/*Home styling started*/
#homePage{
    height: 100vh;
    width: 76.2%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    align-items: center;
    overflow-y: scroll;
}

/* card stylin */
.card{
    height: 210px;
    width: 1000px;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    transition: 0.5s;
}
.productImg{
    height: 100%;
    aspect-ratio: 1/0.7;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.productImg img{
    height: 90%;
    width: 90%;
    border-radius: 6px;
}
.content{
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
    justify-content: space-evenly;
}
.content h1{
    font-size: 1.9rem;
}
.price{
    color: rgb(0, 0, 0);
}
.price span{
    font-size: 20px;
    margin-right: 10px;
    color: rgba(0, 0, 0, 0.606);
}
.price sup{
    font-size: 15px;
    font-weight: 400;
}
.price .offparsentages{
    font-size: 17px;
    background-color: rgb(255, 33, 33);
    border-radius: 5px;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    color: white;
}
.content p i{
    margin-left: 10px;
}
.content p button{
    margin-left: 20px;
    color: #1100ff;
}

/* model styling */
.modal-body{
    display: flex;
}
#Modelimage{
    height: 450px;
    width: 1100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}
#Modelimage img{
    height: 98%;
    width: 90%;
}
#ModelContend{
    width: 1000px;
    padding-left: 50px;
    padding-right: 50px;
}
#ProductDescription{
    font-size: 22px;
    color: black;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}
#ProductBrand{
    color: rgb(106, 65, 255);
    font-weight: 500;
    text-transform: capitalize;
}
#ProductRating{
    font-size: 20px;
    font-weight: 500;
}

#ModelDiscount{
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 20px;
}
#price{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 35px;
    position: relative;
    top: -8px;
    margin-bottom: 20px;
}
#catagory{
    color: #616161;
    font-weight: 500;
}
#catagory span{
    font-weight: 500;
    text-transform: capitalize;
    color: #000;
    font-size: 20px;
}
.oderBtns{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 330px;
}
.oderBtns button{
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: 150px;
    text-transform: capitalize;
    font-weight: 500;
    background-color: #00000002;
}
.oderBtns button i{
    margin-left: 10px;
}
.addbtn:hover{
    background-color: rgba(255, 255, 255, 0) !important;
    color: #0d6efd !important;
    border-color: #0d6efd !important;
}
.buybtn:hover{
    background-color: rgba(255, 255, 255, 0) !important;
    color: #ffc107 !important;
    border-color: #ffc107 !important;
}
.addbtn{
    background-color: #0d6efd!important;
    color: white!important;
    border-color: transparent;
    transition: 0.4s;
}
.buybtn{
    background-color: #ffc107!important;
    color: white!important;
    border-color: transparent;
    transition: 0.4s;
}
/* second model style */
.modelBg{
    background-color: #21252979;
    height: 100vh;
    width: 100vw;
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
}
.ModelContant{
    height: 430px;
    width: 350px;
    background-color: white;
    display: block;
}
.ModelProfile{
    background-color: #000;
    height: 130px;
    width: 130px;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 30% 10%;
}
.modelHeader{
    height: 40px;
    width: 87%;
    margin-left: 20px;
    margin-top: 20px;
    display: flex;
    align-items: center;    
    justify-content: space-between;
}
.ModelBody{
    margin-left: 20px;
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
.ModelBody label{
    font-size: 12px;
    font-weight: 500;
    color: #0303ff;
    margin-left: 12px;
}
.ModelInput{
    height: 40px;
    width: 90%;
    padding: 5px;
    margin: 8px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: none;
    background-color: rgba(118, 115, 115, 0.2);
    border-bottom: 1.5px solid rgb(0, 51, 255);
}

.InputM{
    height: 40px;
    width: 90%;
    padding: 10px;
    margin: 8px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: none;
    
}
.bi-x-lg{
    cursor: pointer;
    font-size: 25px;
}
.seccut{
    cursor: pointer;
    font-size: 25px;
    position: relative;
    right: -70px;
}

.modelBg2{
    background-color: #d6dbf5;
    height: 100vh;
    width: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
}
.ModelContant2{
    height: 98%;
    width: 98%;
    display: block;
}
.ModelContant2 ul li{
    
    padding: 20px 10px;
    height: 250px;
    display: flex;
    position: relative;
    left: -15px;
    list-style: none;
    align-items: center;
    /* margin-left: 30px; */
    border-top: 1px solid rgba(0, 0, 0, 0.140);
    border-bottom: 1px solid rgba(0, 0, 0, 0.140);
    width: 100%;
}
.ModelContant2 ul li img{
    height: 100%;
    aspect-ratio: 1/0.8;
}
.firstDiv{
    width: 76%;
    height: auto;
}
.firstDiv .card2{
    height: 50px;
    width: 100%;
}
.firstDiv .card2 li{
    height: 100%;
    width: 104%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
    border-color: transparent;
}

.firstDiv .card2 h1{
    font-size: 15px;
    width: 100px;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000b4;
}
.ModelContant2 ul{
    height: auto;
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 0px;
}
.ModelContant2 .ModelBody{
    margin-left: 0px;
    display: flex;
    flex-direction: row;
}
.ModelContant2 .modelHeader{
    height: 40px;
    width: 90%;
    margin-left: 50px;
    margin-top: 20px;
    display: flex;
    font-size: 25px;
    align-items: center;    
    justify-content: space-between;
}
.secdiv{
    width: 20%;
    /* background-color: red; */
    height: 100vh;
}
.contantADDlist{
    margin-left: 20px;
    display: flex;
    width: 640px;
    height: 98%;
    flex-direction: column;
    justify-content: space-evenly;
}
.contantADDlist p{
    color: black;
    font-weight: 500;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
}
.Dropdown{
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Dropdown h4{
    font-size: 17px;
    font-weight: 400;
}
.contantADDlist #AddListStock{
    font-size: 15px;
}
.GiftCheak{
    font-size: 13px !important;
    display: flex;
    width: 130px;
    align-items: center;
    justify-content: space-between;
}
.GiftCheak input{
    height: 15px;
    width: 15px;
}
.ModelContant2 .offparsentages{
    background-color: red;
    font-size: 12px;
    padding: 5px;
    border-radius: 5px;
    font-weight: 800;
    color: white;
    margin-left: 5px;
    position: relative;
    width: 85px;
    top: -80px;
}
.ModelContant2 .price{
    position: relative;
    top: -80px;
    font-size: 22px;
    font-weight: 700;
    margin-left: 15px;
}

.ModelContant2 .price .rupe{
    font-size: 16px;
    font-weight: 700;
    color: #000;
    position: relative;
    top: -2px;
    right: -6px;
}
.total{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: auto;
    width: 285px;
    padding: 30px 23px;
}
.ListItem{
    height: 10px !important;
    text-transform: capitalize;
    border-top-color: transparent !important;
    display: flex;
    overflow-y: hidden;
    width: 220px !important;
}
.dot{
    height: 8.5px;
    width: 8.5px;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    left: -10px;
    background-color: #464545;
}
.dot span{
    height: 3px;
    width: 3px;
    border-radius: 50%;
    background-color: white;
}
.subTotal{
    font-size: 18px;
    font-weight: 600;
}
.subTotal span{
    font-weight: 700;
}
.subTotal .rupe{
    font-size: 15px;
    font-weight: 400;
    color: #000;
    font-family: "Inter", sans-serif;
    position: relative;
}
.secdiv .order{
    font-size: 14px;
    display: flex;
    align-items: center;
    width: 235px;
    font-weight: 600;
    justify-content: space-between;
    color: #5500ff;
}
.secdiv .GiftCheak{
    width: 175px;
    position: relative;
    left: -30px;
    font-size: 13.5px !important;
    top: -5px;
}
.secdiv .btn-warning{
    font-size: 12.5px;
    word-spacing: 3px;
    width: 100%;
    font-weight: 500;
    background-color: #ffdd00;
    font-family: sans-serif;
}
.secdiv .btn-warning:hover{
    background-color: #f4b700;
}
#ExtraPruduct{
    height: 500px;
    width: 285px;
    padding: 30px 23px;
}
#Pmod{
    height: 40px;
    padding: 5px 20px;
    width: 98%;
    border:1px solid #0000007f;
    border-radius: 5px;
    margin-top: 10px;
}
.ModelBody .PmodLabel{
    color: #000;
    margin-top: 10px;
    font-size: 12px;
}
#removeBtn{
    position: absolute;
    top: 155px;
    right: 10px;
}
body::-webkit-scrollbar{
    display: none;
}


/* -----------------dard mode css-------------- */
:root{
    --clr:#845ffe;
    --clr2:#0033ff;
}
.DarkMode{
    background-color: #000;
    color: white;
}
.DarkMode nav{
    background-color: rgb(49, 49, 49);
}
.DarkMode nav i,nav .fracranceicon{
    color: var(--clr) !important;
    fill: var(--clr);
}
.DarkMode .Navclose #line{
    background-color: #845ffe50;
}
.DarkMode nav ul #navTaxt,span{
    color: inherit;
}
.DarkMode nav .brandName #navTaxt{
    color: white;
}
.DarkMode .Homecard{
    background-color: #9a9a9aac;
}
.DarkMode .Homecard p,span{
    color: white;
}
.DarkMode .table tr{
    background-color: transparent !important;
    color: white;
}
.DarkMode .table tr p,.table tr i{
    color: var(--clr);
}
.DarkMode .modelBg{
    background-color: rgba(66, 63, 63, 0.475);
}
.DarkMode .ModelContant{
    background-color: rgb(33, 37, 41);
    color: white;
}
.DarkMode .ModelContant label{
    color: var(--clr);
}
.DarkMode .ModelContant input{
    background-color: #000;
    color: white;
}
.DarkMode .modelBg2{
    background-color: rgb(49, 49, 49);
    overflow: scroll;
}
.DarkMode .modelBg2::-webkit-scrollbar{
    display: none;
}
.DarkMode .ModelContant2 ul{
    background-color:  #ffffffc0;
    color: rgb(0, 0, 0);
}
.DarkMode .ModelContant2 ul li h1{
    color: rgb(40, 40, 40);
}
.DarkMode .modelBg2 .bi-cart3{
    color: var(--clr);
}
.DarkMode .total{
    background-color:  #ffffffc0;
}
.DarkMode .total select{
    background-color: #43434337;
    border: none;
    color: rgb(0, 0, 0);
}
.DarkMode #itemlist{
    background-color: rgba(255, 0, 0, 0);
    color: black
}
.DarkMode #itemlist .dot span{
    background-color:  #ffffffc0;
}
.DarkMode #removeBtn{
    color: var(--clr) !important;
    border: 2px solid var(--clr);
}
.DarkMode .bg-dark #ProductDescription,.DarkMode .bg-dark #catagory,.DarkMode .bg-dark #catagory span,.DarkMode .bg-dark #price,.DarkMode .bg-dark #price span{
    color: white;
}
.DarkMode .bg-dark .btn-close{
    background-color: white;
}
.DarkMode .Homecard:hover{
    transform: scale(1.03);
    box-shadow: 0px 0px 100px 5px #845ffe80;
}
.DarkMode .instock{
    color: rgb(80, 255, 94);
}
.DarkMode .outstock{
    color: rgb(255, 72, 72);
}

/* --light mode element css */
.lightMode{
    color: black;
}
.lightMode .instock{
    color: green;
}
.lightMode .outstock{
    color: red;
}
.lightMode .Homecard p,span,.brandName #navTaxt{
    color: inherit;
}
.lightMode nav ul li,span{
    color: inherit;
}
.lightMode nav i,nav .day{
    color: #0033ff !important;
    fill: #0033ff;
}
.lightMode .modelBg2 .bi-cart3{
    color: var(--clr2);
}
.lightMode #removeBtn{
    color: var(--clr2) !important;
}
.lightMode .Homecard:hover{
    transform: scale(1.03);
    box-shadow: 0px 0px 500px 0px #0033ff86;
}
/* resposive ness code  */
@media screen and (max-width:430px){
    .Latopnav{
        display: none;
    }
    body{
        flex-direction: column;
    }
    .Mobilenav{
        height: auto;
        width: 100%;
    }
    .lightMode #ToggleIcon path{
        fill:black;
    }
    .DarkMode  #ToggleIcon path{
        fill: white;
    }
    .collapsee{
        /* position: absolute;
        z-index: 3; */
        display: none;
    }
    .brandName {
        font-size: 1rem;
    }
    .brand{
        justify-content: left;
    }
    .ToggleIcon{
        width: 25px;
    }
    .logo img{
        height: 80%;
        width: 80%;
    }
    .card{
        flex-direction: column;
        height: auto;
        width: 90%;
    }
    .card .productImg,img{
        height: 220px;
        width: 100%;
        aspect-ratio: 1/1;
    }
    .price{
        font-size: 1.5rem;
    }
    .price .offparsentages{
        font-size: 0.8rem;
    }
    #homePage{
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        width: 100%;
    }
    .content{
        width: 99%;
    }
    .stock{
        width: 90%;
        display: grid;
        grid-template-columns: 60px 8px 250px;
    }
    .collapse{
        display: block;
    }
}
@media screen and (min-width:430px){
    .Latopnav{
        display: block !important;
    }
    .Mobilenav{
        display: none !important;
    }
}
